<h1><%= @job.description %></h1>
<h3>Price Range: $<%= @job.pricerange%></h3>
<h3>Time Range: <%= @job.timerange %></h3>
<h3>Contact: <%= @job.contact %></h3>



<p><%= link_to "Edit", edit_job_path(@job) %></p>
<p><%= link_to "Delete", job_path(@job),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to jobs", jobs_path %></p>
